<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>README GENERATOR</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="style.css" rel="stylesheet" />
    </head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div id="jumbotron" class="container">
          <h1 class="display-4">README GENERATOR</h1>
        </div>
      </div>
    <div class="container-fluid" id="app">

        <div class="row">

            <div class="col-sm-8">

                <div class="form">
      
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title" v-model="markdownSource.title" debounce="100">
                    </div>
                
                    <div class="form-group">
                        <label for="intro">Introduction</label> 
                        <textarea class="form-control" id="intro" v-model="markdownSource.introduction" debounce="100" rows="5"placeholder="An introduction or lead on what problem it solves. Answer the question, &quot Why does someone need this? &quot"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="codeSamples">Highlighted Code Samples</label> 
                        <textarea class="form-control" id="codeSamples" v-model="markdownSource.codeSamples" debounce="100" rows="20" placeholder="You've gotten their attention in the introduction, now show a few code examples. So they get a visualization and as a bonus make them copy/paste friendly."></textarea>
                    </div>

                    <div class="form-group">
                        <label for="installation">Installation Instructions</label> 
                        <textarea class="form-control" id="installation" v-model="markdownSource.installation" debounce="100" rows="20" placeholder="The installation instructions are low priority in the readme and should come at the bottom. The first part answers all their objections and now that they want to use it show them how."></textarea>
                    </div>

                    <div class="form-group text-center">
                        <button id="btnReadme" type="button" class="btn btn-primary">Copy your README</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Footer -->
<footer id="footer" class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="index.js"></script>

</body>
</html>