.jumbotron  {

    color: white;
    text-align: center;
}

#jumbotron {
    background-color: rgb(43, 82, 114);
}

body {
    background-color: rgb(236, 243, 245);
}

#footer{
    background-color: rgb(230, 227, 227);
}